<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div>
        <mat-card class="mt-4">
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Take A Note </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]="notesForm" class="example-form">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Task</mat-label>
                <input
                  matInput
                  placeholder="Title"
                  formControlName="taskName"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  formControlName="taskBody"
                  placeholder="task body"
                ></textarea>
              </mat-form-field>
            </form>
            <button mat-raised-button color="primary" (click)="addNotes()" al>
              Add
            </button>
          </mat-expansion-panel>
        </mat-card>
      </div>
    </div>
  </div>
</div>
